[submodule "yaml"]
	path = lib/src/github.com/ghodss/yaml
	url = https://github.com/ghodss/yaml.git
[submodule "protobuf-proto"]
	path = lib/src/github.com/golang/protobuf
	url = https://github.com/golang/protobuf.git
[submodule "grpc-gateway"]
	path = lib/src/github.com/grpc-ecosystem/grpc-gateway
	url = https://github.com/grpc-ecosystem/grpc-gateway.git
[submodule "x-net"]
	path = lib/src/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "grpc-go"]
	path = lib/src/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go.git
[submodule "genproto"]
	path = lib/src/google.golang.org/genproto--
	url = https://github.com/google/go-genproto.git
[submodule "yaml-v2"]
	path = lib/src/gopkg.in/yaml.v2
	url = https://github.com/go-yaml/yaml.git
[submodule "etcd"]
	path = lib/src/github.com/coreos/etcd
	url = https://github.com/coreos/etcd.git
