# available profiles:
# - standalone (backend in unix mode)
# - pdns-34 (defunct)
# - pdns-44
# - pdns-45
# - pdns-49
# - pdns-50
# - pdns-all
# - etcdkeeper
COMPOSE_PROFILES=standalone,etcdkeeper,pdns-49
PDNS_BACKEND_MODE=unix
PDNS49_PUBLIC_PORT=5300
#ETCD_PUBLIC_CLIENT_PORT=23790
ETCDKEEPER_PORT=8080
