name: Quality Assurance
on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/quality-assurance.yml'
      - 'src/**'
      - 'pdns-etcd3.go'
      - 'go.mod'
      - 'go.sum'
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  static-analysis:
    name: Static analysis
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v6
      - name: 'Set up Go (stable)'
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - run: go install honnef.co/go/tools/cmd/staticcheck@latest
      - run: staticcheck -tags unit,integration ./...
  unit-tests:
    name: Unit tests (Go ${{ matrix.go }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.21', '1.22', '1.23', '1.24', '1.25' ]
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v6
      - name: 'Set up Go (${{ matrix.go }})'
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
      - run: go test -tags unit -v ./src
  integration-tests:
    name: Integration tests
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:dind
        options: --privileged
        ports:
          - '2375:2375'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - run: go test -tags integration -count=1 -v ./src
